@page
@model IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/0d47fb2970.js" crossorigin="anonymous"></script>
    <title>@ViewData["Title"]</title>
</head>
<body>

    <div id="navbar" class="navbar-style">
        <div class="wrapper">
            <ul class="ul-navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a class="a-no-bottom-border open-modal">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="about" class="about-style">
        <img src="images/back-photo-3.jpg" alt="" class="image-about">
        <div class="wrapper">
            <h3 class="about-h3">I am Danijel, Junior Programmer and Web Developer - v2.</h3>
        </div>
    </div>

    <div class="skills-back-color">
        <div id="skills" class="skills-style">
            <div class="wrapper wrapper-skills">
                <h3>I am passionate about styling and designing simple creative content.</h3>
                <div class="skill-item">
                    @foreach (var image in Model.Images)
                    {
                        <div class="skill-photo">
                                <img src="@image.ImagePath" alt="">
                        </div>
                    }
                </div>
                <h3>Mathematics and functionality how everything is connected inspires me.</h3>
                <div class="skill-item">
                    <div class="skill-photo">
                        <img src="images/python.png" alt="">
                    </div>
                    <div class="skill-photo">
                        <img src="images/photoshop.png" alt="">
                    </div>
                    <div class="skill-photo">
                        <img src="images/cisco.png" alt="">
                    </div>
                </div>
                <h3>Building and designing custom furniture with my wife is one of mine hidden passions.</h3>
                <div class="skill-item">
                    <div class="skill-photo">
                        <img src="images/tool-2.png" alt="">
                    </div>
                    <div class="skill-photo">
                        <img src="images/new-tool.png" alt="">
                    </div>
                    <div class="skill-photo">
                        <img src="images/tool-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="contact-style">
        <div class="wrapper wrapper-contact">
            <a href="https://github.com/CREPIC21?tab=repositories" target="_blank" class="a-flex-1 a-flex"><i class="fab fa-github"></i></a>
            <a href="mailto:crepic21@gmail.com" target="_blank" class="a-flex-2 a-flex"><i class="fas fa-envelope-open-text"></i></a>
            <a href="https://www.facebook.com/danijel.crepic" target="_blank" class="a-flex-3 a-flex"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/danijelcrepicprofile12345" target="_blank" class="a-flex-4 a-flex"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>

    <div id="footer" class="footer-style">
        <div class="wrapper">
            <p>Copyright &copy; My Portfolio. All Rights Reserved.</p>
        </div>
    </div>

    <div class="modal">
        <div class="close-btn-container">
            <h3>Please feel free to contact me if you have any questions or inquiries.</h3>
            <form class="modal-form">
                <div class="btn-close-modal">X</div>
                <label for="name">Name</label>
                <input type="text">
                <label for="email">Email</label>
                <input type="email">
                <label for="message">Message</label>
                <textarea name="" id="" cols="10" rows="5"></textarea>
                <input type="submit" value="Send" class="modal-submit-btn">
            </form>
        </div>
    </div>

    <div class="hamb-menu">
        <div class="hamburger-1"></div>
        <div class="hamburger-2"></div>
        <div class="hamburger-3"></div>
    </div>

    <div class="hamburger-div">
        <div id="hamburger" class="hamburger-style">
            <div class="wrapper">
                <ul class="hamburger-navbar">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#contact" class="a-no-bottom-border">Contact</a></li>
                </ul>
                <div class="close-hamburger-navbar-btn">X</div>
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>
